@charset "UTF-8";
@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
body {
  margin: 0;
  font-family: "Questa-Regular";
}

@font-face {
  font-family: "Questa-Regular";
  src: url("font/Questa-Regular.otf");
}
header h1 {
  color: #fdcb46;
  font-size: 70px;
  font-style: sherif;
  display: flex;
  margin: auto;
}

.container p {
  text-align: justify;
}
.container a {
  text-decoration: none;
}
.container h2 {
  font-size: 32px;
}
.container h3 {
  font-size: 26px;
}
.container h2, .container h3 {
  margin: 0;
}
.container .menu-2 {
  color: 0;
}
.container .menu-2 h3 {
  background: -webkit-linear-gradient(left, #d8852e, #9861ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .menu-2 h2 {
  color: #d5934b;
}
.container .menu-4 h3 {
  background: -webkit-linear-gradient(left, #72bf56, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-menu h2, .box-menu h3 {
  text-align: center;
}

footer p {
  font-size: 40px;
}

.fin-maquette h3 {
  display: flex;
}
.fin-maquette h3 img {
  width: 50px;
}

.point {
  background-color: black;
  border-radius: 120px;
  width: 17px;
  height: 2%;
}

img {
  height: auto;
  width: 100%;
  margin: auto;
}

header {
  background-color: #579c87;
}
header .logo {
  margin: auto;
  width: 25%;
}
header .logo img {
  margin: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}
.container a:visited {
  text-decoration: none;
  color: inherit;
}

.titremenu {
  padding: 20px;
  margin: auto;
}

@media (max-width: 640px) {
  body .container {
    max-width: 100%;
  }
  body main {
    padding: 50px 0;
  }
  body .accueil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  body .accueil .menu-1 {
    grid-row: 1;
    grid-column: 1;
  }
  body .accueil .menu-2 {
    grid-row: 2;
    grid-column: 1;
  }
  body .accueil .menu-3 {
    grid-row: 3;
    grid-column: 1;
  }
  body .accueil .menu-4 {
    grid-row: 4;
    grid-column: 1;
  }
  body .box-menu {
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  body .box-menu .title {
    grid-row: 1;
    display: grid;
    grid-template-rows: 50% 50%;
  }
  body .box-menu .title img {
    grid-row: 1;
    margin: auto;
  }
  body .box-menu .title h3 {
    grid-column: 1;
    grid-row: 2;
  }
  body .box-menu .entrée {
    grid-row: 2;
    display: grid;
    grid-template-columns: 70% 20% 10%;
    padding: 20px;
  }
  body .box-menu .entrée .ombremenu1 {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  body .box-menu .entrée .ombremenu1:hover {
    text-decoration: underline;
  }
  body .box-menu .entrée .ombremenu1 .ombreright {
    flex-wrap: wrap;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
  }
  body .box-menu .entrée .ombremenu1 h3 {
    grid-column: 2;
    grid-row: 1;
  }
  body .box-menu .entrée .ombremenu1 .ombreleft {
    grid-column: 3;
    grid-row: 1;
    overflow: hidden;
  }
  body .box-menu .entrée .plat {
    grid-column: 1;
    grid-row: 2;
  }
  body .box-menu .entrée .prix {
    grid-column: 3;
    grid-row: 2;
  }
  body .box-menu .entrée p {
    margin: atuo;
  }
  body .box-menu .plat-de-résistance {
    grid-row: 3;
    display: grid;
    grid-template-columns: 70% 20% 10%;
    padding: 20px;
  }
  body .box-menu .plat-de-résistance .ombremenu1 {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  body .box-menu .plat-de-résistance .ombremenu1:hover {
    text-decoration: underline;
  }
  body .box-menu .plat-de-résistance .ombremenu1 .ombreright {
    flex-wrap: wrap;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
  }
  body .box-menu .plat-de-résistance .ombremenu1 h3 {
    grid-column: 2;
    grid-row: 1;
  }
  body .box-menu .plat-de-résistance .ombremenu1 .ombreleft {
    grid-column: 3;
    grid-row: 1;
    overflow: hidden;
  }
  body .box-menu .plat-de-résistance .plat {
    grid-column: 1;
    grid-row: 2;
  }
  body .box-menu .plat-de-résistance .prix {
    grid-column: 3;
    grid-row: 2;
  }
  body .box-menu .plat-de-résistance p {
    margin: atuo;
  }
  body .box-menu .dessert {
    grid-row: 4;
    display: grid;
    grid-template-columns: 70% 20% 10%;
    padding: 20px;
  }
  body .box-menu .dessert .ombremenu1 {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  body .box-menu .dessert .ombremenu1:hover {
    text-decoration: underline;
  }
  body .box-menu .dessert .ombremenu1 .ombreright {
    flex-wrap: wrap;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
  }
  body .box-menu .dessert .ombremenu1 h3 {
    grid-column: 2;
    grid-row: 1;
  }
  body .box-menu .dessert .ombremenu1 .ombreleft {
    grid-column: 3;
    grid-row: 1;
    overflow: hidden;
  }
  body .box-menu .dessert .plat {
    grid-column: 1;
    grid-row: 2;
  }
  body .box-menu .dessert .prix {
    grid-column: 3;
    grid-row: 2;
  }
  body .box-menu .dessert p {
    margin: atuo;
  }
  body .box-menu .prix p {
    padding: 8px 0;
  }
  body .box-menu .fin-maquette {
    grid-row: 5;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 50%;
  }
  body .box-menu .fin-maquette h3 {
    grid-column: 2;
  }
  body .box-menu .fin-maquette img {
    grid-column: 1;
  }
  body h1 {
    font-size: 50px;
  }
  body p {
    font-size: 14px;
  }
  body .menu {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto;
  }
  body .menu .menu-1 {
    grid-column: 1;
    grid-row: 1;
  }
  body .menu .menu-2 {
    grid-column: 1;
    grid-row: 2;
  }
  body .menu .menu-3 {
    grid-column: 1;
    grid-row: 3;
  }
  body .menu .menu-4 {
    grid-column: 1;
    grid-row: 4;
  }
  body .after {
    grid-template-columns: 100%;
    margin: auto;
    max-width: 100%;
  }
  body .after .txt {
    grid-column: 1;
  }
  body .after .txt h3 {
    font-size: 40px;
  }
}

main {
  margin: auto;
  padding: 50px;
}

footer {
  background-color: #579c87;
  color: #fdcb46;
  padding: 0px;
}
footer p {
  font-size: 30px;
}
footer .containerfooter {
  display: flex;
  margin: auto;
}
footer .containerfooter .legal {
  cursor: pointer;
  transition: all 482ms ease-out;
  align-items: flex-start;
  margin: auto;
}
footer .containerfooter .legal:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
}
footer .containerfooter .contact {
  cursor: pointer;
  transition: all 482ms ease-in-out;
  align-items: flex-end;
  margin: auto;
}
footer .containerfooter .contact:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
}

.box-menu {
  box-shadow: 0px 1px 7px 0px #CFCFCF;
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 5% 90% 5%;
  height: 1030px;
}
.box-menu .title {
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}
.box-menu .grid-menu {
  display: grid;
  grid-template-columns: 70% 20% 10%;
  padding: 20px;
}
.box-menu .grid-menu .ombremenu1 {
  grid-column: 1/3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.box-menu .grid-menu .ombremenu1:hover {
  text-decoration: underline;
}
.box-menu .grid-menu .ombremenu1 .ombreright {
  flex-wrap: wrap;
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}
.box-menu .grid-menu .ombremenu1 h3 {
  grid-column: 2;
  grid-row: 1;
}
.box-menu .grid-menu .ombremenu1 .ombreleft {
  grid-column: 3;
  grid-row: 1;
  overflow: hidden;
}
.box-menu .grid-menu .plat {
  grid-column: 1;
  grid-row: 2;
}
.box-menu .grid-menu .prix {
  grid-column: 3;
  grid-row: 2;
}
.box-menu .grid-menu p {
  margin: atuo;
}
.box-menu .entrée {
  grid-row: 2;
  grid-column: 2;
}
.box-menu .plat-de-résistance {
  grid-row: 3;
  grid-column: 2;
}
.box-menu .dessert {
  grid-row: 4;
  grid-column: 2;
}
.box-menu .fin-maquette {
  grid-row: 5;
  grid-column: 2;
}

.enchantée {
  background-color: #fcdfdb;
}

.chic {
  background: -webkit-linear-gradient(top, #d8852e, #9861ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic h2 {
  background: -webkit-linear-gradient(left, #d8852e, #9861ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.délice .box-menu {
  background-color: #edefef;
}
.délice h2 {
  background: -webkit-linear-gradient(left, #113ee1, #bcd9f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette h2 {
  background: -webkit-linear-gradient(left, #72bf56, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accueil {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr;
  height: 1000px;
}
.accueil .menu-anim {
  cursor: pointer;
  position: relative;
  transition: all 250ms ease-in-out;
}
.accueil .menu-anim:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
.accueil .menu-anim .titre {
  margin: auto;
}
.accueil .menu-1 {
  grid-column: 1;
  grid-row: 1;
  background-color: #fcdfdb;
  display: flex;
}
.accueil .menu-2 {
  background-color: #fff5fe;
  grid-column: 2;
  grid-row: 1;
  display: flex;
}
.accueil .menu-2 h2 {
  color: #d5934b;
}
.accueil .menu-3 {
  background-color: #fff5fe;
  grid-column: 1;
  grid-row: 2;
  color: #6cb2f9;
  display: flex;
  font-style: italic;
}
.accueil .menu-4 {
  background-color: #fff5fe;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  color: #72bf56;
  font-style: italic;
}
.accueil .box-menu {
  display: flex;
  flex-direction: column;
  box-shadow: 1px -1px 4px 0px grey;
  margin: 30px 0px;
}
.accueil .titre {
  margin: auto;
  text-align: center;
}

.after {
  color: #fdcb46;
  background-color: #579c87;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
}
.after h3 {
  font-size: 30px;
  text-align: center;
}
.after h3::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  /* ascii code for the ellipsis character */
  width: 0px;
}

/*# sourceMappingURL=style.css.map */
