@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import"./utils/kayframes";
@import "./base/base";
@import "./base/typography";
@import"./composants/img";
@import "./layout/header";
@import "./layout/container";
@import "./layout/main";
@import"./layout/footer";
@import"./layout/box_menu";
@import"./page/menu1";
@import"./page/menu2";
@import"./page/menu3";
@import"./page/menu4";
@import"./page/mentions";
@import"./layout/accueil";