.container{
    max-width: 750px;
margin: auto;
text-align: center;
padding: 20px 0;

a:visited{
    text-decoration: none;
color: inherit;
}
}
.titremenu{
  
    padding: 20px;
    margin: auto;
    }

body{
@include mobile-menu;
}