


header{
text-align: center;    
    background-color: $vertheader;
    display: flex;
padding: 0;

h1{
text-transform: uppercase;
color: $logo;
font-size: 70px;
font-style: "sherif";
text-align: center;
margin:0;
display: flex;
}
}