


header{
    background-color: $vertheader;
    display: flex;
h1 
{
text-transform: uppercase;
color: $logo;
font-size: 60px;
font-style: sherif;
text-align: center;
display: flex;
margin: auto;
}
}