

.titremenu{
margin: 0;
padding: 20px;

}


    .box-menu{
    
    height: auto;
  display: flex;
  flex-direction: column;
box-shadow:  1px -2px 10px 0px  rgb(216, 212, 212);


 
      h1 {
font-size: 32px;
  }

  p{
    font-size: 14px;

}


    .title{
    margin: auto;
padding: 50px;
    img{
    width: 100px;}
    }

   .orga-menu{
    @include orga-menu;
   } 
    .entrée{
    display: flex;
    }
    
    .plat-de-résistance{
  display: flex;
}
    .dessert {
    display: flex;
    }
    .fin-maquette{
display: flex;
      margin: auto;
    padding: 30px;
h2{
font-weight: bolder;


}
    
.imgfin{
width: 60px;
padding: 0 20px;
}
}

    


    }