

.titremenu{
margin: 0;
padding: 0;

}


    .box-menu{
    
    grid-column: 1;
    grid-row: 2;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
grid-template-columns: 10% 80% 10%;
height: 900x;
@include box-menu;
 
      h1 {
font-size: 50px;
  }

  p{
    font-size: 14px;

}


    .title{
    grid-row: 1;
    grid-column: 2;
    margin:auto;
    img{
    width: 150px;}
    }

   .grid-menu{
    @include grid-menu;
   } 
    .entrée{
    grid-row: 2;
    grid-column: 2;
    }
    
    .plat-de-résistance{
    grid-row: 3;
    grid-column: 2;
    
}
    .dessert {
    grid-row: 4;
    grid-column: 2; 
}
    .fin-maquette{
    grid-row:5;
    grid-column: 2;
    font-size: 32px;
    margin: auto;
display: flex;
.img-fin{
width: 50px;
margin: 10px;}
    }
    


    }