footer{
    background-color: $vertheader;
    color: $logo;
    padding: 0px;



p{

    font-size: 30px;
}
.containerfooter{
display: flex;
margin: auto;


    .legal{
cursor: pointer;
transition: all 482ms ease-out;
align-items: flex-start;
margin: auto;

&:hover {
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
}
}

.contact{
cursor: pointer;
transition: all 482ms ease-in-out;
align-items: flex-end;
margin: auto;

&:hover {
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
}
    
}
}
}