footer{
    background-color: $vertheader;
    color: $logo;
position: fixed;
bottom: 0em;
    width: 100%;
    padding-top: 0px;
}
p{
    font-size: 30px;
}
.containerfooter{
display: flex;
justify-content: space-between;
margin: 0 50px;


    .legal{
display: flex;

    cursor: pointer;
transition: all 482ms ease-out;
&:hover {
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
}
}


.contact{

display: flex;
transition: all 482ms ease-out;

&:hover {
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
}
    
}
}

a{
text-decoration: none;
color: inherit;
}