footer{
    background-color: $vertheader;
    color: $logo;
    padding: 0px;
display: flex;
flex-direction: row;


p{
font-size: 30px;
margin: 20px;
}

.legal{
cursor: pointer;
transition: all 482ms ease-out;
text-align: left;
width: 70%;

&:hover {
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
}
}

.contact{

text-align: right;
cursor: pointer;
transition: all 482ms ease-in-out;
width: 30%;
&:hover {
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
}
    
}
}