.délice {
  background-color: #edefef;

  h1 {
    font-style: italic;
    background: -webkit-linear-gradient(left, #113ee1, #bcd9f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "parisienne";
  }
}
