.enchantée {
  background-color: $bg-menu1;
  .orga-menu {
    margin: 10px 50px;
  }
  h1,
  .acceuil h2,
  .fin-maquette h2 {
    font-family: "Devonshire";
  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-weight: 300;
  }
  .fin-maquette h2 {
    font-size: 40px;
  }
}
