
  @font-face{
    font-family: "Questa-Regular";
    src: url("font/Questa-Regular.otf")
  }
header{
    h1 
{
color: $logo;
font-size: 70px;
font-style: sherif;
display: flex;
margin: auto;
}
}


main{
    p{
        text-align: justify;
        }

    a{
    text-decoration: none;
}
    h2{
font-size: 32px;
}
h3{
    font-size: 23px; 
}

.menu-2{
    color: blue($color: black);
}
.menu-2{
   h3 { 
    background:  -webkit-linear-gradient( left, #d8852e, #9861ef);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-style: italic;
}
    h2{
        color: #d5934b;

        }
}

.menu-4{
h3{

background: -webkit-linear-gradient(left, $txt-menu4,#bfff7e);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-style: italic;;
}

}
}


.box-menu{

h2, h3{
text-align: center;
}

}



footer p {
font-size: 32px;
}

