

@mixin txt-box-menu2{
  background: -webkit-linear-gradient( top, #d8852e, #9861ef);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;   

}

@mixin orga-menu {
  flex-wrap: wrap;
  margin: 10px 40px;
.ombremenu1
{

  width: 100%;
display: grid;
grid-template-columns: 30% 40% 30%;
h3{
background: linear-gradient(to top, $logo 0%, $logo 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
transition: background-size .5s;
&:hover{
  background-size: 100% 100%;

  
}
}
.ombreright{
flex-wrap: wrap;
grid-column: 3;
grid-row: 1;
overflow: hidden;
margin: auto;
}
h3{
grid-column: 2;
grid-row: 1;
}
.ombreleft{
grid-column: 1;
grid-row: 1;
overflow: hidden;
margin: auto;
}

}
.plat{
width: 70%;
margin:auto;
display: flex;
flex-direction: column;
text-align: justify;

}
.prix{
width: 30%;
margin:auto;
display: flex;
flex-direction: column;
p{
text-align: right;
padding: 0 40px;
}

}


}

@mixin mobile-menu {
    
    @media (max-width: 640px){
      .container{
        max-width: 100%;
      }
      
    header{
    .logo{
    width: 60%;
    }
    }

      main{

      padding: 20px 0px;
      h2{
        font-size: 20px;
         }
         h3{
          font-size: 15px;
         }
          
         h1 {
          font-size: 50px;
            }
          
            p{
              font-size: 8px;
            }
          }
footer{
  p{
  font-size: 20px;
  }
}
      
      .accueil{
        display: grid;
        grid-template-columns:  30% 40% 30%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 900px;
        grid-gap: 30px 0px;

        .menu-1{
        grid-row: 1;
        grid-column: 2;
        img{
        width: 100px;
        }
        }
        .menu-2{
        grid-row: 2;
        grid-column: 2;
        }
        .menu-3{
        grid-row: 3;
        grid-column: 2;
        }
        .menu-4{
        grid-row: 4;
        grid-column: 2;
        }
       }
      .after{
      margin:auto;
      max-width: 200px;
    
      }
     
        
    .box-menu{
    
    height: auto;
    margin: 0 20px;
  .orga-menu{
margin:10px;
  
  p{
  font-size: 10px;
}
.prix{
  p{
  padding: 0px;
  }
}
  }
}
    } 
}
