

@mixin txt-box-menu2{
  background: -webkit-linear-gradient( top, #d8852e, #9861ef);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;   

}

@mixin orga-menu {
  flex-wrap: wrap;
  margin: 10px;
.ombremenu1
{

  width: 100%;
display: grid;
grid-template-columns: 30% 40% 30%;
h2{
background: linear-gradient(to top, $logo 0%, $logo 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
transition: background-size .5s;
&:hover{
  background-size: 100% 100%;

  
}
}
.ombreright{
flex-wrap: wrap;
grid-column: 3;
grid-row: 1;
overflow: hidden;
margin: auto;
}
h3{
grid-column: 2;
grid-row: 1;
}
.ombreleft{
grid-column: 1;
grid-row: 1;
overflow: hidden;
margin: auto;
}

}

.plat{
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;

}
.description{
display: flex;
flex-direction: column;
text-align: justify;


}
.prix{
display: flex;
flex-direction: column;
p{
text-align: right;
padding: 0 40px;
font-weight: bolder;
}

}


}

@mixin mobile-menu {
   
@media( max-width: 1024px){
.container{
max-width: 650px;
h2{
font-size: 20px;
}}
.accueil .menu-2 h2 {
font-size: 16px;
}

.orga-menu{
margin: auto;
}

}
    @media (max-width: 640px){
      .container{
        max-width: 100%;
       
        }
      
      
    header{
    .logo{
    width: 60%;
    }
    }

      main{
display: flex;
flex-direction: column;
      padding: 20px 0px;
      h2{
        font-size: 20px;
         }
         h3{
          font-size: 15px;
         }
          
         h1 {
          font-size: 25px;
            }
          
            p{
              font-size: 8px;
            }
          }
footer{
  p{
  font-size: 20px;
  }
}
      
      .accueil{
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 450px;
        grid-gap: 30px;
        padding: 30px 0px;
         .menu-2 h2{
          font-size: 12px;
         }
        h2{
  font-size: 12px;
}

p{
font-size: 20px;
}
        .menu-1{
        grid-row: 1;
        grid-column: 1;
        img{
        width: 30px;
        }
        }
        .menu-2{
        grid-row: 1;
        grid-column: 2;
        }
        .menu-3{
        grid-row: 2;
        grid-column: 1;
        }
        .menu-4{
        grid-row: 2;
        grid-column: 2;
        }
       }
      .after{
      display: flex;
    height: 40px;
    margin: 0;
     p{

font-size: 20px;
      }
    
      }
     
  .marginother{
  .plat{
  margin: auto;
  }
  }
  .titremenu{
    p{
  font-size: 20px;
    }
  }
    .box-menu{
    
    height: auto;
    margin: 0 20px;
    h1{
font-size: 20px;
}
.title{
img{
width: 70px;
}
}
.fin-maquette{
.imgfin{

padding: 0 10px;
  img{
width: 35px;
}
}
}
.orga-menu{
margin:10px;



  p{
  font-size: 10px;
}
.prix{
  p{
  padding: 0px;
  }
}
  }
}
    } 
}
